body{
    margin: white;
    background: black;
    color:white;
    font-family: "Creepster", system-ui;
    margin-bottom: 100xp;
    
}
header{
    border-bottom: solid 2px orange; 
    padding:  20px;
    font-size: 32px;
    color: orange
}

.chamada{
    background: orange;
    padding-bottom: 80xp;
    padding-top: 80xp;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}
img{
    height: 200px;
}

.categoria-videos{
display: flex;
overflow-x: auto;
gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid orange;
}

.categoria h2{
    color:orange
}